CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
build.wake.cpp
.idea/
deps/external/

.vs/
*.vcxproj
*.vcxproj.filters
*.sdf
*.sln
Win32/
dist/*.dll
Wake.dir/
*.opendb
Debug/
Release/